<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('imports'); -%>
  </head>
  <body>
    <%- include('navbar'); -%>
    <div class="container">
    
    <div class="card mb-3">
    <h1 class="produtotitulo">Carrinho de compras</h1>


    <img src="/images/construction.jpeg" class="card-img" alt="...">

    
      <% produtos.forEach((produto) => { %>

        <div class="container ">
          
            <div class="row">
              <div class="col-sm">
                  <!-- Foto do produto -->
              </div>

              <div class="col-sm">
                <br>
                <br>
                <br>
                  <!-- Nome do produto -->
              </div>

              <div class="col-sm">
                <br>
                <br>
                <br>
                    <!-- Foto do produto -->
              </div>

            </div>
          </div>
      <% }); %>
      <div class="blimpar">
        <a href="/carrinho"  class="btn btn-success">Limpar carrinho de compras</a>
      </div>
    </div>
    </div>
  </body>
</html>